<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Guest Book</title>
</head>
<body>
<h1>Guest Book</h1>
<form action="/guestBook" method="POST">
    <br>Name:<br/>
    <label>
        <input type="text" name=name>
    </label>
    <br>Massage:<br/>
    <label>
        <textarea rows=5 cols=30 name=massage></textarea>
    </label>
    <br>Rating:<br/>
    <label>
        <select name=rating>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
        </select>
    </label>
    <br><input type=submit value=Submit><br/>
</form>

<br>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Massage</th>
        <th>Rating</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="parameterModel : ${result}">
        <td th:text="${parameterModel.name}"></td>
        <td th:text="${parameterModel.massage}"></td>
        <td th:text="${parameterModel.rating}"></td>
    </tr>
    </tbody>
</table>
<br/>

<div class="pagination-div">
    <span th:if="${currentPage!=1}">
        <a th:href="@{/guestBook(currentPage=${currentPage-1},size=${recordsPerPage})}">Previous</a>
    </span>

    <th:block th:each="i: ${#numbers.sequence(1, nOfPages)}">
        <span th:if="${currentPage == i}" class="selected">[[${i}]]</span>
        <span th:unless="${currentPage == i}">
             <a th:href="@{/guestBook(currentPage=${i},size=${recordsPerPage})}">[[${i}]]</a>
        </span>
    </th:block>

    <span th:if="${currentPage lt nOfPages}">
        <a th:href="@{/guestBook(currentPage=${currentPage+1},size=${recordsPerPage})}">Next</a>
    </span>
</div>