<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Quizzes</title>
</head>
<body>
<tr th:each="quiz : ${quizzes}">
    <td th:text="${quiz.name}"></td>
    <td>
        <a th:href="@{'/quizzes/' + ${quiz.id} + '/show'}">Get tested</a>
    </td>
</tr>
</body>
</html>