<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Quiz details</title>
</head>
<body>
    <br th:text="${quiz.name}"/>
</body>
</html>