<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create author</title>
</head>
<body>
    <h1>Create an author</h1>
    <form method="post" action="/authors/create">
        <p><input type="text" name="name" placeholder="Type name" /></p>

        <p><select name="gender">
            <option th:each="gender : ${genders}" th:value="${gender}" th:text="${gender}"></option>
        </select>
        <button type="submit">Create an author</button>
    </form>
</body>
</html>