<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Authors</title>
</head>
<body>
    <a href="/authors/create">Create an author</a>
    <table>
        <tr>
            <td>ID</td>
            <td>NAME</td>
            <td>GENDER</td>
            <td>MOVIE COUNT</td>
            <td>LINK</td>
        </tr>

        <tr th:each="author : ${authors}">
            <td th:text="${author.id}"/>
            <td th:text="${author.name}"/>
            <td th:text="${author.gender}"/>
            <td th:text="${author.movieCount}"/>
            <td>
                <a th:href="@{'/authors/' + ${author.id} + '/show'}">More details</a>
            </td>
        </tr>
    </table>
    <br>Download:
    <form method="post" action="/download/author/excel">
        <button type="submit">Excel</button>
    </form>
    <form method="post" action="/download/author/word">
        <button type="submit">Word</button>
    </form>
    <form method="post" action="/download/author/pdf">
        <button type="submit">Pdf</button>
    </form>
</body>
</html>