<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create movie</title>
</head>
<body>
    <h1>Create a movie</h1>
    <form method="post" action="/movies/create">
        <p><input type="text" name="name" placeholder="Type name" /></p>
        <input type="text" name="year" placeholder="Type year" /></p>

        <p><select name="genre">
            <option th:each="genre : ${genres}" th:value="${genre}" th:text="${genre}"></option>
        </select>

        <p><select name="language">
            <option th:each="language : ${languages}" th:value="${language}" th:text="${language}"></option>
        </select>

        <p><select name="authorIds">
            <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author}"></option>
        </select>
        <button type="submit">Create movie</button>
    </form>
</body>
</html>