<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Movies</title>
</head>
<body>
    <a href="/movies/create">Create a movie</a>
    <table>
        <tr>
            <td>ID</td>
            <td>NAME</td>
            <td>YEAR</td>
            <td>GENRE</td>
            <td>LANGUAGE</td>
            <td>COMMENT COUNT</td>
            <td>AVERAGE RATING</td>
        </tr>

        <tr th:each="movie : ${movies}">
            <td th:text="${movie.id}"/>
            <td th:text="${movie.name}"/>
            <td th:text="${movie.year}"/>
            <td th:text="${movie.genre}"/>
            <td th:text="${movie.language}"/>
            <td th:text="${movie.commentCount}"/>
            <td th:text="${movie.averageRating}"/>
            <td>
                <a th:href="@{'/movies/' + ${movie.id} + '/show'}">More details</a>
            </td>
        </tr>
    </table>
    <br>Download:
    <form method="post" action="/download/movie/excel">
        <button type="submit">Excel</button>
    </form>
    <form method="post" action="/download/movie/word">
        <button type="submit">Word</button>
    </form>
    <form method="post" action="/download/movie/pdf">
        <button type="submit">Pdf</button>
    </form>
</body>
</html>