<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Enjoy your movie</title>
</head>
<body>
<h1>Movie details</h1>
<table>
    <tr>
        <td>ID</td>
        <td>NAME</td>
        <td>YEAR</td>
        <td>GENRE</td>
        <td>LANGUAGE</td>
    </tr>

    <tr>
        <td th:text="${movie.id}"/>
        <td th:text="${movie.name}"/>
        <td th:text="${movie.year}"/>
        <td th:text="${movie.genre}"/>
        <td th:text="${movie.language}"/>
    </tr>
</table>
<a href="/movies">All movies</a>
<form action="/comments/create" method="POST">
    <input th:type="hidden" th:name="movieId" th:value="${movie.id}">
    <br>Name:<br/>
    <label>
        <input type="text" name=name>
    </label>
    <br>Massage:<br/>
    <label>
        <textarea rows=5 cols=30 name=massage></textarea>
    </label>
    <br>Rating:<br/>
    <label>
        <select name=rating>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
        </select>
    </label>
    <br><input type=submit value=Submit><br/>

</form>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Massage</th>
        <th>Rating</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="comment : ${comments}">
        <td th:text="${comment.name}"></td>
        <td th:text="${comment.massage}"></td>
        <td th:text="${comment.rating}"></td>
    </tr>
    </tbody>
</table>
<h1>Authors</h1>
<table>
    <tr>
        <td>ID</td>
        <td>NAME</td>
        <td>GENDER</td>
    </tr>

    <tr th:each="author : ${authors}">
        <td th:text="${author.id}"/>
        <td th:text="${author.name}"/>
        <td th:text="${author.gender}"/>
    </tr>
</table>
<a href="/authors">All authors</a>
</body>
</html>